body{
			background-image: url("background/table.png");
		}
		#header{
			color: #630958;
			text-align: center;
			font-variant: small-caps;
			font-size: 300%;
		}
		img{
			height: 150px;
			width: 100px;
		}
		#PlayerName{
			font-style: bold;
			color: white;
			font-size: 200%;
			text-align: center;
		}
		#container1{
			padding-left: 10px;
			width: 420px;
			float: left;
		}
		#container2{
			width: 420px;
			float: right;
		}
		#button_section{
			width: 400px;
			margin-left: 30px;
			display: inline-block;
		}
		button {
			display: block;
    		margin: 0 auto;
    		background-color: #4CAF50; /* Green */
    		border: none;
    		border-radius: 10px;
    		color: white;
    		padding: 15px 32px;
    		text-align: center;
    		text-decoration: none;
    		font-size: 16px;
    		background-size: cover;
		}
		button:hover {
    		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
		button:focus {
			outline:0;
		}
		#winner{
			font-size: 200%;
			color:white;
			text-align: center;
		}
		#input{
			color: white;
			text-align: center;
			font-variant: small-caps;
			font-size: 300%;
		}
		#my_form{
			
		}
